    <form ng-controller="Person" class="form-inline">
        <div ng-hide="person">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="email" placeholder="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="password">
            </div>
            <input type="submit" class="btn btn-default" value="Login" ng-click="login()">
            <input type="submit" class="btn btn-link" value="Register" ng-click="register()">
        </div>
        {{ person.email }}
        <input type="submit" class="btn btn-default" value="Logout" ng-click="logout()" ng-show="person">
        <span class="bg-danger">{{ error }}</span>
    </form>
