<!doctype html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="/static/css/foundation.min.css" />
        <script src="/static/js/angular.min.js"></script>
        <script>
            angular.module('app', [])
                .controller('App', function($scope, $http) {
                    var profile_promise = $http.get('/profile.json')
                    var location_id = document.URL.split('/')[3]
                    var user_id

                    $http.get('/' + location_id + '/suggestions.json')
                         .then(function(res) {
                            var document_ids = res.data['suggestions'].join()
                            return $http.get('/docs/_mult?ids=' +  document_ids)
                         })
                         .then(function(document_res) {
                            profile_promise.then(function(profile_res) {
                                user_id = profile_res.data['id']
                                var preferences = {}
                                for(var i = 0; i < profile_res.data['preferences'].length; i++) {
                                    var item = profile_res.data['preferences'][i]
                                    preferences[item['attraction_id']] = item
                                }
                                var documents = document_res.data['documents']
                                for(var i = 0; i < documents.length; i++) {
                                    console.log(preferences[documents[i]['id']])
                                    documents[i]['preference'] = preferences[documents[i]['id']] || {}
                                }
                                $scope.documents = documents
                            })
                         })

                    $scope.update_profile = function(doc, like, rating) {
                        if(like !== null) {
                            doc.preference.like = like
                        }
                        if(rating !== null) {
                            doc.preference.rating = rating
                        }
                        var url = '/profile/' + user_id + '/' + doc.id
                        $http.post(url, doc.preference)
                    }
                })
        </script>
    </head>
    <body ng-controller="App">
        <div class="row">
            <div class="large-12 columns">
                <h1>Places to try</h1>
                <div ng-repeat="document in documents">
                    <h2><a href="{{ document.url }}">{{ document.title }}</a></h2>
                    <p>{{ document.description }}</p>
                    <p><a href="{{ document.url }}">{{ document.url }}</a></p>
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a href="#" ng-class="{ success: document.preference.like }" ng-click="update_profile(document, !document.preference.like, null)" class="button">Like</a></li>
                        </ul>
                        <ul class="button-group">
                            <li><a href="#" ng-class="{ success: document.preference.rating === 1 }" ng-click="update_profile(document, null, 1)" class="button">1</a></li>
                            <li><a href="#" ng-class="{ success: document.preference.rating === 2 }" ng-click="update_profile(document, null, 2)" class="button">2</a></li>
                            <li><a href="#" ng-class="{ success: document.preference.rating === 3 }" ng-click="update_profile(document, null, 3)" class="button">3</a></li>
                            <li><a href="#" ng-class="{ success: document.preference.rating === 4 }" ng-click="update_profile(document, null, 4)" class="button">4</a></li>
                            <li><a href="#" ng-class="{ success: document.preference.rating === 5 }" ng-click="update_profile(document, null, 5)" class="button">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
