<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="/css/typeaheadjs.css">
    <style type="text/css">
        .bootstrap-tagsinput {
            width: 100%;
        }
    </style>
    <script src="/js/jquery-1.11.2.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/client/locations.html?access_token={{ accessToken }}" class="navbar-brand">Entertain Me!</a>
                </div>
                <div>
                    <a href="/client/register.html" class="btn btn-default navbar-btn">Register</a>
                    <a href="/client/login.html" class="btn btn-default navbar-btn">Login</a>
                    {{#if accessToken}}
                    <a href="/client/logout.html?access_token={{ accessToken }}" class="
                    btn btn-default navbar-btn">Logout</a>
                    <a href="/client/person.html?access_token={{ accessToken }}" class="
                    btn btn-default navbar-btn">Profile</a>
                    {{/if}}
                </div>
            </div>
        </nav>
        {{{ body }}}
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-tagsinput.min.js"></script>
    <script src="/js/typeahead.bundle.js"></script>
    <script>
        var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
        'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
        'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
        'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
        'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
        'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
        'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
        'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
        'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
        ];

        var bhStates = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: $.map(states, function(state) { return { value: state }; })
        });

        bhStates.initialize();

        $(".typeahead").tagsinput({
            typeaheadjs: {
                name: 'bhStates',
                displayKey: 'value',
                valueKey: 'value',
                source: bhStates.ttAdapter()
            },
            freeInput: false
        });
    </script>
</body>
</html>
