{% extends "base.html" %}
{% block content %}
<ul>
{% for attraction_id, preference in preferences.iteritems() %}
    <li data-id="{{ attraction_id }}">
        <a href="#">Like</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="{{ preference.url }}">{{ preference.title }}</a>
    </li>
{% endfor %}
</ul>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/static/main.js"></script>
{% endblock %}
