{% extends "base.html" %}
{% block content %}
<ul>
{% for suggestion in suggestions %}
    <li data-id="{{ suggestion.id }}" data-user="{{ user_id }}">
        <h1><a href="{{ suggestion.url }}">{{ suggestion.title }}</a></h1>
        <p>{{ suggestion.description }}</p>
        <a href="#">Like</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
    </li>
{% endfor %}
</ul>
<script src="/static/jquery-1.11.2.min.js"></script>
<script src="/static/main.js"></script>
{% endblock %}
